.email-container {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 850px;
    box-shadow: 0 15px 15px rgba(0,0,0,0.1);
}

.logo, .img-postulacion {
    display: block;
    margin: 0 auto;
    width: 200px; /* Ajusta esto según el tamaño de tu logo */
}

.img-postulacion {
    margin-top: 20px;
    width: 100%; /* Ajusta esto para que la imagen de postulación ocupe el ancho del contenedor */
}

.welcome-message {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

.user-greeting {
    font-size: 16px;
    margin-top: 20px;
}

.postulation-info, .cv-update {
    margin-top: 20px;
}

.portal-link {
    color: #007bff;
    text-decoration: none;
}


.imgpostulacion{
    display: block;
    margin: 0 auto;
    width: 800px; 
    margin-top: 20px;
}

.intro-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}