body {
    margin: 0;
    padding: 0;
}

.container {
    background: white;
    background-image: url("../img/fondored.jpg");
    background-position: center;
    display: flex;
    flex-direction: column; /* Cambiamos de fila a columna */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh; /* Para ocupar al menos toda la altura de la ventana */
}

.banner {
    margin-bottom: 20px; /* Añadimos margen inferior para separar del formulario */
}

.banner img {
    width: 100%;
    max-width: 900px;
    height: auto;
}

.formulario {
    width: 100%;
    max-width: 800px; /* Añadimos un ancho máximo al formulario */
    border-radius: 20px;
    background: orange;
    background-image: linear-gradient(180deg, #f57c00 10%, #ffc107 100%);
    position: relative;
    border: 3px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    padding: 20px; /* Espacio interior */
}

h1 {
    color: white;
    text-align: center;
    padding: 3%;
}

/* Estilos para el formulario */
.formulario-empresas {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.columna {
    width: calc(50% - 10px); /* Cambiamos el ancho al 50% para dos columnas */
    margin-bottom: 20px;
}

.columna label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.columna input[type="text"],
.columna input[type="date"],
.columna textarea,
.columna select,
.columna input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-guardar {
    background: orange;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.btnGuardar {
    margin-left: 25%;
    width: 18%;
}

.btnGeneral {
    margin-left: 1%;
    width: 18%;
}

.btnGeneral:hover {
    background: white;
    color: orange;
    border-color: orange;
    transition: .5;
    cursor: pointer;
}

.btnGuardar:hover {
    background: white;
    color: orange;
    border-color: orange;
    transition: .5;
    cursor: pointer;
}

.formulario-empresas .columna input,
.formulario-empresas .columna textarea,
.formulario-empresas .columna select {
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.formulario-empresas .columna input[type="submit"] {
    background-color: #ffc107;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario-empresas .columna input[type="submit"]:hover {
    background-color: #f57c00;
}
