/*Estilo Filtro*/
.fechaFiltro,
.ofertaFiltro,
.categoriaFiltro {
    width: 200px;
    height: 32px;

}

.btnFiltro {
    width: 100px;
    background: orange;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;

}

.btnFiltro:hover {
    background: white;
    color: orange;
    border-color: orange;
    transition: .5s;
}


/*Estilo btn table*/
.btn-supervisor {
    border: 1px solid white;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    background: orange;
    display: inline-block;
    text-align: center;
    width: 110px;
    color: white;
    font-size: 15px;
    margin-top: 20%;
}

.btn-CSesion {
    border: 1px solid white;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    background: orange;
    display: inline-block;
    text-align: center;
    width: 123px;
    color: white;
    font-size: 15px;
}
.btn-CSesion:hover {
    background: white;
    color: orange;
    border-color: orange;
    text-decoration: none;
    transition: .5s;
}

.btn-editar {
    border: 1px solid white;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    background: orange;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 15px;
}
.btn-editar:hover {
    background: white;
    color: orange;
    border-color: orange;
    text-decoration: none;
    transition: .5s;
}

.btnAgregar{
    width: 165px;
}

.widthCheck{
    width: 5%;
}
.anchoId{
    width: 5%;
}
.anchoActiv{
    width: 7%;
}
.anchoFecha{
    width: 15%;
}

.btn-supervisor:hover {
    background: white;
    color: orange;
    border-color: orange;
    text-decoration: none;
    transition: .5s;
}

/*Link tablas*/
.linkTabla {
    color: gray;
}

.linkTabla:hover {
    text-decoration: none;
    color: orange;
    justify-content: center;
    text-align: center;
}

.btnCerrar{
    display: flex;
    background: url("../img/cerrar.png") no-repeat center center;
    width: 100px;
    height: 100px; /* Ajusta la altura según el tamaño de tu imagen */
    border: none; /* Si no quieres mostrar un borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}



