.container {
    display: flex; /* Establece un contenedor flexible */
}

.muropost{
    justify-content: space-between;
    display: flex;
}

.post-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.post-container textarea {
    flex: 1;
    resize: none;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
}
.post-container button {
    border: 1px solid white;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    background: orange;
    display: inline-block;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 15px;
}
.post-container button:hover {
    background: white;
    color: orange;
    border-color: orange;
    text-decoration: none;
    transition: .5s;
}

/* CONTENIDO DE LAS PUBLICACIONES */
.main-content {
    flex: 1; /* Toma el espacio restante */
    max-height: 80vh; /* Establece una altura máxima */
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
    padding-right: 30px; /* Agrega un espacio entre el contenido principal y las tarjetas */
}


/* BARRA DEL LADO DERECHO */
.sidebar1 {
    width: 230px; /* Ancho del menú lateral */
    background-color: #fff; /* Color de fondo del menú */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea los elementos a la derecha */
    justify-content: flex-start; /* Alinea los elementos arriba */
}

.card {
    background-color: #fff; /* Color de fondo de las tarjetas */
    background-image: linear-gradient(180deg, #f57c00 10%, #ffc107 100%);
    border: 1px solid #ccc; /* Borde de las tarjetas */
    border-radius: 5px; /* Borde redondeado */
    padding: 10px;
    margin-bottom: 10px; /* Espacio entre las tarjetas */
    width: 100%; /* Ancho máximo de las tarjetas */
    color: #fff;
}

.novedad{
    text-align: center;
    color: #f57c00;
    margin-top: 5%;
}

