.contenedor-principal{
    width: 80%;
}

.banner {
    background-color: red;
    background-image: linear-gradient(180deg, #f57c00 10%, #ffc107 100%);
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.banner img {
    width: 100%; /* Ancho del 80% del contenedor */
    max-width: 900px; /* Ancho máximo para evitar que la imagen sea demasiado grande en pantallas grandes */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
}

.seccion{
    background: #F7F7F7;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.contenedor-seccion{
    background:  #f7f7f9;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.btn-oferta{
    text-decoration: none;
    background: orange;
    color: white;
    margin: 0px 5px 10px 5px;
    padding: 10px 20px;
    border:1px solid white;
    border-radius: 5px;

    
}

.btn-ofertas{
    text-decoration: none;
    background: orange;
    color: white;
    margin: 10px 5px 10px 5px;
    padding: 10px 20px;
    border:1px solid white;
    border-radius: 5px;

    
}

.btn-oferta:hover{
    background: white;
    color: orange;
    border: 1px solid orange;
    text-decoration: none;
    transition: .5s;
}