:root {
    --color-naranja: #F8B619;
    --color-blanco: #FFFFFF;
    --color-rojo: #dc3545;
    --letra-panel: #000000;
    --color-btnRojo: #b02a37;
    --color-btnAzul: #0d6efd;;
}

body {
    background: lightgray;
    margin: 0px;
    padding: 0px;
}

.contenedor {
    display: flex;
    height: 90vh;

}

.container-panel {
    background-color: var(--color-naranja);
    flex: 0.4;
}

.contenedor-body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex: 2;

}

.link-nav{
    color: var(--letra-panel);
}

/*Menu*/

.btn-sspp{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    height: 70px;
    margin: 10px 0px 10px 0px;
}

.btn-sspp a{
    text-decoration: none;
}

.btn-sspp:hover{
    background: rgba(255, 255, 255, .3);
}

/*Container body*/

.btn-panel{
    display: flex;
   padding-left: 40px;
    width: 87.5%;
    height: 12%;
    border: 1px solid black;
    border-radius: 5px;
     justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.body-panel{
    display: flex;
    margin-top: 5%;
    width: 90%;
    height: 70%;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

/*Pie de pagina*/

.footer{
    width: 100%;
    height: 20%;
    background: orange;
}

/*Botones opciones*/

.panel-body{
    display: flex;
    align-items: center;
    width: 100%;
    
}

.panel-body .btn-rep1{
    display: flex;
    margin: 0px 10px 0px 10px;
    width: 100px;
    align-items: center;
    justify-content: center;
    height: 29px;
}

.btn-body{   
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid yellow;
    color: black; 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Tabla*/

.tr-table{
    text-align: center;
    width: 100px;
}

.marginBtn{
    margin-bottom: 10px;
}

/* Media query para pantallas pequeñas */
@media only screen and (max-width: 768px) {
    .contenedor {
      flex-direction: column;
      height: auto;
     
    }
  
    .container-panel {
      flex: 1;
    }
  
    .contenedor-body {
      flex: 3;
    }
    
    .btn-panel, .body-panel {
      width: 90%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  /* Reglas de CSS para hacer la tabla responsive */
.table-responsive {
    overflow-x: auto;
}

/* Estilos para hacer que el texto y los botones sean responsive dentro de la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Fijar el ancho de la tabla */
}

/* Ajustes para las columnas */
.table th,
.table td {
    padding: 8px;
    text-align: center;
    font-size: 14px;
    white-space: nowrap; /* Evitar que el texto se divida en múltiples líneas */
    overflow: hidden;
    text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) cuando el texto sea demasiado largo */
}

/* Contenedor de la tabla */
.table-container {
    overflow-x: auto;
    min-width: 320px; /* Establecer un ancho mínimo para el contenedor */
    max-width: 100%; /* Establecer un ancho máximo para el contenedor */
}

.widthName{
    width: 36%;
}

.widthCheck{
    width: 16%;
}

/* Media query para ajustar la tabla en pantallas pequeñas */
@media only screen and (max-width: 768px) {
    .table th,
    .table td {
        font-size: 13px;
    }

    
}

/* Ajustar el tamaño de los botones en pantallas pequeñas */
@media only screen and (max-width: 768px) {
    .table a.btn-supervisor {
        font-size: 12px; /* Reducir el tamaño de los botones en pantallas pequeñas */
        padding: 6px 10px; /* Ajustar el padding de los botones */
    }
}